// import Montserrat font on Montserrat from googlefonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
// set height and font for page
body, html {
    height: calc(100% - 2em);
    margin: 0;
    font-family: 'Montserrat';
}
// grident background for body generated from colorzilla
body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a00fb+0,e600ff+100 */
    background: #4a00fb; /* Old browsers */
    background: -moz-linear-gradient(45deg, #4a00fb 0%, #e600ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #4a00fb 0%,#e600ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #4a00fb 0%,#e600ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a00fb', endColorstr='#e600ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* side bar */
    aside{
        display: grid;
        grid-template-columns: auto 40px;
        padding: 2em;
        /* for figure icon */
        figure{
            margin: 0;
            figcaption{
                color: white;
                font-size: 1.2em;
                font-weight: bold;
            }
        }
        /* hamburger icon */
        img{
            width: 40px;
        }
        /* Navbar/menubar */
        nav{
            background: white;
            ul{
                display: none;
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 100%;
                li a{
                    text-decoration: none;
                    text-transform: uppercase;
                    display: block;
                    color: black;
                    padding: 1.2em 3.2em;
                    font-size: .8em;
                    background: rgba(255, 255, 255, .35)
                }
            }
            /* active icon added to ul on click */
            .active{
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 50%;
                background: white;
            }
        }
    }
    /* main body */
    main{
        background: white;
        padding: 1.2em 2.5em;
        /* main body 1st header */
        h1{
            margin: 0%;
        }
        /* main body paragraph */
        p{
            font-size: 1.3em;
            line-height: 1.6em;
        }
        /* Portfolio button */
        .cta{
            display: block;
            background: #0E7FFF;
            color: white;
            text-align: center;
            text-decoration: none;
            text-transform: capitalize;
            border-radius: 4px;
            padding: 1.2em 4em;
            margin: 3em 1em;
        }
    }
}
/* for reponsive pupose. It will effect all device with screen size 768px and bigger */
@media only screen and(min-width:768px){
    // using css grid devide body in two parts one with 30% and rest for oather part
    body{
        display: grid;
        grid-template-columns: 30% auto;
        padding: 5em;
        /* sidebar
        using css grid to dive sidebar in two rows one with 20% on top and rest for other */
        aside{
            background: #DCE1F6;
            padding: 0;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 20% auto;
            /* figure */
            figure{
                /* avatar or profile pic */
                #avatar{
                    display: block;
                    background: white;
                    width: 50px;
                    height: 50px;
                    margin: 2em auto 1em auto;
                    border-radius: 50%;
                }
                figcaption{
                    margin: 0;
                    text-align: center;
                    color:black;
                }
            }
            /* hide hamburger icon */
            img{
                display: none;
            }
            /* navbar/manubar */
            nav{
                background: none;
                ul{
                    display: block;
                    position: relative;
                    margin-top: 3.5em;
                    li a:hover{
                        background: white;
                    }
                }
            }
        }
        // main section
        main{
            padding: 4em;
            /* svg icon in white background in bottom right corner */
            background: white url('images/bg.svg') no-repeat bottom right;
            background-size: 70%;
            // heading
            h1{
                font-size: 3em;
                margin-top: 2em;
            }
            // paragraph
            p{
                font-size: 1.2em;
            }
            /* portfolio button */
            .cta{
                display: inline-block;
                font-size: 1.2em;
                padding: .8em 3em;
            }
        }
    }
}